/* 
    Created on : Oct 21, 2016, 6:07:50 PM
    Author     : ibrahimradwan
*/


/*	GENERAL  */

.clearfloat {
	clear: both;
	float: none;
}

.mytextdiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 90%;
}

.mytexttitle {
	flex-grow: 0;
}

.divider {
	border: 0.5px dashed rgba(147, 143, 143, 0.51);
	flex-grow: 1;
	margin-left: 25px;
	height: 1px;
	/*	background-color: #9f9f9f;*/
}


/*	Header: ;*/

.header-title-Market::after {
	font-family: 'Raleway', helvetica;
	content: 'Control Panel';
	font-size: 12px;
	font-weight: lighter;
	margin-left: 10px;
	color: #777;
}

.header-username {
	cursor: default!important;
}

.header-username:hover {
	text-decoration: none !important;
	color: #5f5c5c !important;
}

.header-username::after {
	content: ',';
}


/*	Categories  */

.single-category-item {
	display: block;
	width: 100%;
	padding: 10px 20px;
}

.single-category-item:nth-child(2n+2) {
	background: rgba(244, 242, 242, 0.56);
}

.single-category-item--category-name {
	font-family: 'Raleway', helvetica;
	font-size: 18px;
	float: left;
	width: 90%;
	text-align: left;
	padding: 0;
	margin: 0;
	margin-top: 10px;
}

.single-category-item--category-name-underlined {
	cursor: pointer;
}

.single-category-item--category-name-underlined:hover {
	text-decoration: underline;
}

.single-category-item--category-name-editinput {
	float: left;
	width: 90%;
	font-size: 18px;
	outline: 0;
	margin: 0;
	padding: 5px 10px;
	background: transparent;
	font-family: 'Raleway', helvetica;
	border: 0;
	border-bottom: 1px solid black;
}

.single-category-item--category-actions {
	float: right;
	width: 10%;
	text-align: right;
	line-height: 38px;
}

.single-category-item--category-actions a {
	color: #5f5c5c;
	font-size: 14px;
	transition: 0.5s;
	text-decoration: none;
	cursor: pointer;
	transition: 0.5s;
	font-family: 'Raleway', helvetica;
	text-decoration: none;
}

.single-category-item--category-actions a:hover {
	text-decoration: underline;
	color: #4a4a9d;
	transition: 0.5s;
}

.single-category-item--category-edit {
	margin-right: 10px;
}

.single-category-item--category-delete {}

.single-category-item--category-save {}

.category-items-short--add-category {
	overflow: auto;
	padding: 10px 20px;
}

.single-category-specs {
	display: flex;
	flex-wrap: wrap;
	padding-left: 20px;
	margin-top: 5px;
	padding-top: 5px;
}

.single-category-item--category-spec-name {
	font-family: 'Raleway', helvetica;
	padding: 0;
	margin: 0;
}


/* Employees */

.single-category-item--category-name-editinput.employee {
	width: 44% !important;
	margin-right: 0.5%;
}


/*	Orders    */

.orders-filters {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 40px 210px 20px 20px;
}

.orders-filters--div {
	padding-left: 7px;
	padding-right: 7px;
	font-family: 'Raleway', helvetica;
	display: inline-block;
	width: 30%;
	text-align: left;
	position: relative;
}

.orders-filters--div:nth-child(1),
.orders-filters--div:nth-child(2) {
	border-right: 1px solid #eee;
}

.orders-filters--div:nth-child(3) {
	width: 27%;
}

.orders-filters--div-small {
	width: 13%;
	text-align: center;
	padding-right: 10px;
}

.orders-filters--label {
	font-size: 18px;
}

.orders-filters--label-small {
	font-size: 14px;
	/*	margin-top: 10px;*/
	margin-left: 10px;
}

.orders-filters--slider {
	width: 40%;
	display: inline-block;
	margin-left: 20px;
	margin-top: 6px;
}

.orders-filters--pricetext {
	margin-left: 20px;
	color: #d47f0b;
	font-size: 14px;
	font-weight: lighter;
}

.orders-filters--datepicker,
.product-edit--input-title.editinput,
.categories-single-item--visible-details--spec--val.editinput {
	font-size: 13px;
	padding: 4px;
	margin-left: 15px;
	width: 90px;
	outline: 0 none;
	border: 1px solid rgba(178, 167, 167, 0.28);
	border-radius: 5px;
	font-family: 'Raleway', helvetica;
	transition: 0.5s;
}

.orders-filters--datepicker:focus,
.product-edit--input-title.editinput:focus,
.categories-single-item--visible-details--spec--val.editinput:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
	transition: 0.5s;
}

.orders-filters--filter-button {
	display: block;
	width: 100px;
	border-radius: 5px;
	border: 1px solid #4a4a9d;
	color: #4a4a9d;
	background: #fff;
	font-size: 14px;
	padding: 4px 0;
	cursor: pointer;
	outline: 0;
	transition: 0.3s;
	font-family: 'Raleway', helvetica;
}

.orders-filters--filter-button:hover {
	background: rgb(49, 49, 121);
	color: rgba(183, 244, 47, 1);
}

.orders-total-div {
	text-align: right;
	margin: 20px 40px;
	font-family: 'Raleway', helvetica;
	font-size: 25px;
}

.orders-total-text {
	font-size: 29px;
}

.orders-total-amount {
	font-weight: bold;
	color: #988e12;
	margin-left: 20px;
}


/*	Products   */

.cart-cancel-product,
.cart-cancel-product-expanded {
	cursor: pointer;
	display: inline-block;
	width: 45%;
	text-align: center;
	font-family: 'Raleway', helvetica;
	transition: 0.5s;
}

.cart-cancel-product-expanded {
	width: 100%;
}

.cart-cancel-product:hover,
.cart-cancel-product-expanded:hover {
	text-decoration: underline;
	color: #4a4a9d;
	transition: 0.5s;
}

.product-edit--input-title.editinput {
	display: block;
	width: 100%;
	margin: 10px 0;
	font-size: 22px;
}

.categories-single-item--visible-details--spec--val.editinput {
	width: 64.7%;
	text-align: left;
}

.categories-single-item--visible-details--spec.edit {
	margin-left: 0;
	margin-right: 0;
}

.categories-single-item--visible-details--spec--key {
	width: 30%;
}

.admin-products--add-product {
	border-top: 1px solid #eee;
	margin: 20px auto;
	margin-top: 90px;
	width: 400px;
}

.admin-products--add-product input {
	padding: 10px !important;
	font-size: 18px !important;
}

.add-product-title {
	text-align: center;
	font-size: 20px;
	font-family: 'Raleway', helvetica;
}

.admin-products--category-menu {
	width: 100%;
	background: #fff;
	height: 40px;
	padding: 10px;
	font-size: 18px;
	font-family: 'Raleway', helvetica;
}

.admin-products--category-menu option {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	font-family: 'Raleway', helvetica;
}

.categories-single-item--visible-details--spec.addNew {
	margin-top: 20px;
}

.orders-filters--filter-button.addproduct {
	margin-top: 30px;
	width: 100%;
	padding: 10px;
	font-size: 18px;
}
